    <style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: #8ebf42;
      font-family: sans-serif;
      }
    </style>
    <marquee> Let see if you can you get the Flag!</marquee>
    <h1>Create HCard</h1>
    <form action="/gen_vcard" method="post">
        <table>
            <tr><td>Name:</td> <td><input type="text" name="name"></td></tr>
            <tr><td>Organisation:</td> <td><input type="text" name="org"></td></tr>
            <tr><td>Phone:</td> <td><input type="text" name="phone"></td></tr>
            <tr><td>Email:</td> <td><input type="text" name="email"></td></tr>
        <table>
        <input type="submit" value="Create">
    </form>
